/* Сайт с иконками https://icons8.ru/ */
:root {
  --color-primary: #FF6600;  /* Оранжевый */
  --color-primary-hover: #ff9c00;  /* Оранжевый */
  --color-black: #020202;  /* Чёрный */
  --color-white: #FFFFFF;  /* Белый */
  --color-gray: #242e4d;  /* Серый */
  --color-gray: 36, 46, 77;  /* Серый */
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/*  Сброс стилей */
h1, h2, h3, h4, h5, h6, p, ul, li, a, form, input, span, button, textarea, select, label {
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: black;
	font-weight: inherit;
	vertical-align: baseline;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

ul, li {
	list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  border: none;
  border-style: none;
}

button, textarea, select, input {
	box-sizing: border-box;
	border: none;
	outline: none;
	background-color: transparent;
	display: inline-block;
    box-shadow: none;
    background: none;
    cursor: pointer;
    overflow: visible;
}

aside, nav, footer, header, section, main {
	display: block;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.base {
	/*background: #141E30;*/
	min-height: 100vh;
	color: black;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 16px;
}

@media (max-width: 767px) {
	
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

@media (max-width: 550px) {
	.container {
		max-width: 500px;
		min-width: 320px;
		padding: 0 10px;
	}
}

.font {
	font-family: 'Lobster', cursive;
	font-family: 'Source Sans Pro', sans-serif;
}